doctype html
html
    head
        title A Socket.IO chat application
        script(src="/public/thirdparty/jquery-3.2.1.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.slim.js")
        script(src="public/minified.min.js")
        link(rel="stylesheet" src="public/main.css")

    body
        
        .container
            h1 Welcome to this chat application
            p Powered by Node.js, Express, and Socket.IO.

            div.messages
